.bg-btn{
            cursor: pointer;
            height: 6rem;
            width: 24rem;
            display: flex;
            align-items: center;
            border: none;
            border-radius: .5rem;
            background: white;
            outline: none;
            p{
                flex-basis: 70%;
                font-size: 2rem;
                color:  $color-primary-dark-blue;
            }
            &:hover{
                background-color: $color-primary-dark-blue;
                border: 2px solid white;
                p{
                    color:  white;
                }
            }

           
        }

.small-btn{
    @extend .bg-btn;
    height: 5rem;
    width: 20rem;
    background-color: $color-primary-dark-blue;
    p{
        font-size: 2rem;
        color: white;
    }
    &:hover{
        background-color: $color-primary-light-blue;
    }
}

