.box-section {
  height: 80vh;
  background-image: url('https://res.cloudinary.com/habinezadalvan/image/upload/v1595795055/digitol/spread-box_09.05.45-min_se1qgm.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
 

  @include responsive(phone) {
    display: none;
  }
}

.box-section-2{
  height: 40vh;
  background-image: url('https://res.cloudinary.com/habinezadalvan/image/upload/v1602551262/digitol/Box-70_v1ornv.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}